body{
    padding: 0;
}

.home,
.portfolio,
.about,
.contact,
.nav-page{
    width: calc(100vw - 90px);
    left: 90px;
    top: 0;
    
}

/****************************************
***************LOADER*****************
*****************************************/
.loader {
    width: 30vw;
    height: 30vw;
    margin: calc((100vh - 30vw)/2) auto;
}

/****************************************
****************NAV BAR******************
*****************************************/
.nav-bar {
    width: 90px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: grey;
}

.nav-bar__logo {
    top: calc((100vh - 45px)/2);
    left: 22.5px;
}

.nav-bar__btn {
    width: 38px;
    height: 38px;
    left: 26px;
    top: 30px;
}

/****************************************
****************NAVPAGE********************
*****************************************/
.nav-page {
    height: 100vh;
}

/****************************************
****************HOME*********************
*****************************************/
.home {
    height: 100vh;
}

.circleAni {
    width: 650px;
    height: 650px;
}

/****************************************
****************PORTFOLIO****************
*****************************************/
.project {
    height: 50vw ;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.project__pic {
    width: 35vw;
    height: 35vw;
    /*right: 20vw;
*/}

.project__description{
    width: 40vw;
    height: 15vw;
}

.project2,
.project4,
.project6{
    flex-direction: row;
}

/****************************************
****************ABOUT********************
*****************************************/
.about {
    border: 5px dashed red;
}

/****************************************
****************NAVPAGE********************
*****************************************/
.nav-page__links {
    margin-top: 2%;
    align-items: baseline;
    width: 50%;
    left: 5%;
    font-size: 3.7em;
    height: 65%;
}

.outline {
    text-align: left;
    padding-left: 2%
}

/****************************************
****************CONTACT********************
*****************************************/
.contact__location-social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact .social-media{
    width: 340px;
}


