body{
    padding: 0;
}

.home,
.portfolio,
.about,
.contact,
.nav-page{
    width: calc(100vw - 90px);
    left: 90px;
    top: 0;
    
}

/****************************************
****************NAV BAR******************
*****************************************/
.nav-bar {
    width: 90px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: grey;
}

.nav-bar__logo {
    top: calc((100vh - 45px)/2);
    left: 22.5px;
}

.nav-bar__btn {
    width: 38px;
    height: 38px;
    left: 26px;
    top: 30px;
}

/****************************************
****************NAVPAGE********************
*****************************************/
.nav-page {
    height: 100vh;
    z-index: 10;
}

/****************************************
****************HOME*********************
*****************************************/
.home {
    height: 100vh;
}

.circleAni {
    width: 650px;
    height: 650px;
}

/****************************************
****************ABOUT********************
*****************************************/
.about {
    border: 5px dashed red;
}



